<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p><%=contactContent%></p>
    <div class="">
      <a class="btn btn-primary" href="mailto:divyanshurai6112@gmail.com">Click Here</a>
    </div>

<%- include("partials/footer"); -%>
